/* MAIN CONTACT section */
:root {
    --yellow: #f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


/* Header styles */
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 2000;
    background: var(--white);
    height: 60px;
}

.header img {
    height: 50px;
    width: 50px;
}

.header .logo {
    font-size: 25px;
    color: var(--black);
    text-transform: capitalize;
    background: url("Wbuild.png");
    text-decoration: none;
}

.header .logo span {
    color: var(--yellow);
}

.header .navbar a {
    text-decoration: none;
    font-size: 20px;
    color: var(--black);
    text-transform: capitalize;
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--yellow);
}

.header .icons div {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-left: .3rem;
}

.header .icons div:hover {
    background: var(--black);
    color: var(--white);
}

.header #menu-btn {
    display: none;
}

/* Header Section end */




/* Main-Banner-section */



.service-main-banner {
    background-image: url(/image/service-page/pexels-j-mad-18366908.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.service-banner-outer {
    border-left: 1.5vh solid var(--yellow);
    padding: 5vh;
    height: 60%;
    width: 60%;
    margin-left: 10vh;
}

.service-banner-inner {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1.5vh solid var(--yellow);
    padding: 5vh;
    height: 100%;
    width: 100%;
    text-align: center;
}

.service-banner-inner h1 {
    margin-bottom: 3vh;
    text-align: start;
    margin-left: 5vh;
    color: var(--light-bg);
    font-size: 6vh;

    margin-top: 1.5vh;
    /* Add some space between heading and paragraph */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.service-banner-inner p {
    /* margin-bottom: 5vh; */
    color: var(--light-bg);
    font-size: 5vh;
    margin-left: 5vh;
    margin-top: 1.5vh;
    text-align: start;
    color: #f5bf23;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Main-Banner-section ends */





.service-content{
    height: 110vh;
    width: 100%;
    background-color: #000;
}





/* sub nav bar */
.sub-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 8.2vh;
    background-color: white;
    z-index: 2000;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: background-color 0.3s ease;

}

.sub-navbar a {
    text-decoration: none;
    font-size: 2vh;
    color: var(--black);
    text-transform: capitalize;
    margin: 0 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.sub-navbar a:hover {
    color: var(--yellow);
}

.sub-navbar.scrolled {
    background-color: white;
}

/* end of sub nav bar */




/* Footer Section Start */
.footer {
    margin-top: 0px;
    margin: 0;
    padding: 0;
}

.footer-section {
    height: 320px;
    width: 100%;
    background-color: black;
}

.footer-info {
    height: 30%;
    background-color: #f5bf23;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-address,
.info-pno,
.info-email {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-direction: column;
    text-align: center;
    margin-top: 8px;

}

.info-address img,
.info-pno img,
.info-email img {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}

.info-address p,
.info-pno p,
.info-email p {
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-address h2,
.info-pno h2,
.info-email h2 {
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin: 0;
}

.footer .credit {
    font-size: 15px;
    color: var(--white);
    text-transform: capitalize;
    margin-top: 10px;
    padding-top: 1rem;
}

.footer .credit span {
    color: var(--yellow);
}

.footer-bottom {
    margin-top: 10px;
}

.footer-bottom .hr {
    background-color: #eee;
    border: 1px solid #eee;
    width: 50%;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
}

.getin-touch img:hover {
    transform: scale(1.1);
    transition: .5s ease all;
    scale: (1.1);
    object-fit: cover;
}

.getin-touch,
.quick-links {
    color: var(--white);
    font-size: 8px;
}

.quick-links a {
    border-radius: 10px;
    margin-left: 20px;
    font-size: 17px;
    padding: 0;
    width: 75px;
    text-decoration: none;
    margin-top: 8px;
}

.getin-touch h1,
.quick-links h1 {
    text-decoration: underline;
    font-size: medium;
}

.quick-links {
    margin-top: 10px;
}

.getin-touch img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: #eee;
    margin: 10px;
    margin-top: 7px;
}

.footer {
    text-align: center;
}

.footer .links .btn {
    margin: .5rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.btn:hover {
    background: var(--yellow);
    color: var(--black);
}

.btn2 {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--yellow);
    color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.btn2:hover {
    background: var(--black);
    color: var(--white);
}

/* Footer Section End */